img{
    height: 150px;
    width: 150px;
}





.btn-primary{
    background-color: coral;
}


.btn-secondary{
    background-color: green;
}


p{margin:10px;}

.ppp {text-align: center;}

body{background: url(imagens/imagen2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}